
#header {
  background-image: linear-gradient(rgba(53, 64, 82, 0.75), rgba(53, 64, 82, 0.85)),
  url('../../../../assets/img/landing-bg.jpg');
  height: 300px;
  box-shadow: 1px 1px 4px #00000024;
  color: white;
  padding: 30px 50px;
}

#project-status h1 { font-size: 90px; }

#project-status p {
  font-size: 12px;
  margin: -20px auto 0 auto;
}
#project-status > div:last-child {
  position: relative;
  top: -40px;
  left: 4px;
}

#project-status span:first-child {
  text-align: left;
  font-size: 27px;
  margin-bottom: 10px;
}

#project-status span:last-child { font-size: 25px; }
