
/* Media Queries */
@media screen and (max-width: 2560px) and (min-width: 2001px) {
  #wrapper > .container {
    width: 1200px;
  }
}

@media screen and (max-width: 2000px) and (min-width: 840px) {
  #wrapper > .container { width: 800px; }
}

@media screen and (max-width: 839px) {
  .mdl-grid > .mdl-cell:first-child {
    width: 100%;
    height: 150px !important;
  }

  #features { display: none; }

  #logo > div:first-child { margin-top: 20px !important; }

  #logo .material-icons { font-size: 45px !important;}

  #logo #title h1 { font-size: 28px; }

  #breadcrumbs { margin-top: 0 !important; }

  #breadcrumbs span { font-size: 17px !important; }

  #form { width: 100% !important; }

  #login { margin-bottom: 35px; }

  #forgot-password {
    text-align: center;
    right: 0 !important;
    left: 0;
  }
}

@media screen and (max-width: 479px) {
  #wrapper > .container { margin: auto 10px !important; }
}

/* Containers */
#wrapper {
  background-image: linear-gradient(rgba(53, 64, 82, 0.75), rgba(53, 64, 82, 0.85)),
                    url('../../assets/img/landing-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

#wrapper > .container {
  background-color: white;
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
}

/* Mdl */
.mdl-grid > .mdl-cell:first-child {
  background-image: linear-gradient(rgba(216, 97, 93, 0.75), rgba(216, 97, 93, 0.75)),
                    url('../../assets/img/landing-form-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 523px;
  max-height: 100%;
}

.mdl-cell--7-col { width: calc(58.3333333333% - 0px); }

.mdl-textfield { width: 98%; }

/* Logo */

#logo .material-icons { font-size: 70px; }

#logo > div:first-child { margin-top: 70px; }

#logo #title p { font-size: 12px; }

/* Features */
#features { padding-left: 15px; }

#features .material-icons { font-size: 20px; }

#features span { font-size: 13px; }

/* Form */
#form { padding: 20px; }

#breadcrumbs { margin-top: 15px; }

#breadcrumbs span {
  font-size: 20px;
  cursor: pointer;
}

#breadcrumbs span.active { color: #d8615d; }

#form .container { margin-top: 20px; }

#forgot-password {
  position: absolute;
  bottom: 20px;
  right: 35px;
}

#forgot-password p { font-size: 12px; }

button.mdl-button {
  border: 1px solid #d8605c;
  width: 105px;
  max-width: 100%;
}

button.mdl-button:hover {
  background-color: #d8605c;
  color: white;
}

#error-message {
  font-size: 14px;
  font-style: italic;
  text-align: center;
}
