<div id="wrapper">
  <div class="container mdl-cell--6-col-tablet">
    <div class="mdl-grid clear-padding">

      <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet clear-margin">
        <tms-feature></tms-feature>
      </div><!-- END .mdl-cell -->


      <div id="form"
           class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet">

        <!-- Login and Sign Up Tabs -->
        <div id="breadcrumbs"
             class="text-dark-blue">
          <span [routerLink]="['/login']"
                [routerLinkActive]="'active'">Login </span>

          &nbsp; <span>/</span> &nbsp;

          <span [routerLink]="['/signup']"
                [routerLinkActive]="'active'">Sign Up</span>
        </div><!--  END #breadcrumbs -->

        <div class="container">
          <router-outlet></router-outlet>
        </div><!-- END .container -->
      </div><!-- END #form -->

    </div><!-- END .mdl-grid -->
  </div><!-- END .container -->
</div><!-- END .wrapper -->

