
.wrapper {
  background-image: linear-gradient(rgba(53, 64, 82, 0.75), rgba(53, 64, 82, 0.85)),
                    url('../../assets/img/landing-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.container {
  background-color: white;
  position: relative;
  margin:0 auto;
  top:50%;
  transform: translateY(-50%);
  width: 800px;
  max-width: 100%;
}

.mdl-grid > .mdl-cell:first-child {
  background-image: linear-gradient(rgba(216, 97, 93, 0.75), rgba(216, 97, 93, 0.75)),
                    url('../../assets/img/landing-form-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 500px;
}

.logo { color: white; }

.logo .material-icons {
  font-size: 70px;
  color: white;
}

.logo > div:first-child { margin-top: 70px; }

.logo .title p {
  font-size: 12px;
  color: #f7f6f6e6;
}

.features { padding-left: 15px; }

.features .material-icons { font-size: 20px; }

.features span { font-size: 13px; }
