<div id="input-wrapper">

  <!-- NAME -->
  <mdl-textfield  type="text"
                  label="Project Name"
                  id="form-textfield"
                  [(ngModel)]="projectName"
                  (click)="$event.stopPropagation()"></mdl-textfield>

  <span class="text-red">{{ errorMessage }}</span>

  <!-- FORM BUTTONS -->
  <div id="buttons">
    <button mdl-button
            class="cursor-pointer"
            (click)="save.emit({name: projectName})">
      <span>SAVE</span>
    </button>

    <span class="cursor-pointer"
          (click)="cancel.emit()">CANCEL</span>
  </div><!-- END #buttons -->

</div><!-- END #input-wrapper -->
