<form [formGroup]="form">

  <!-- CURRENT PASSWORD -->
  <p>
    <mdl-textfield 	type="password"
                    label="Current Password"
                    formControlName="currentPassword"
                    floating-label
                    disableNativeValidityChecking
                    [class.is-invalid]="currentPassword.touched && currentPassword.invalid"
                    [error-msg]="currentPassword.getError('required')
                    || currentPassword.getError('invalidPattern')
                    || currentPassword.getError('notEqual')"
                    (blur)="checkFieldValueValidity('Current Password', currentPassword)">
    </mdl-textfield>
  </p><br/>

  <!-- NEW PASSWORD -->
  <p>
    <mdl-textfield 	type="password"
                    label="New Password"
                    formControlName="newPassword"
                    floating-label
                    disableNativeValidityChecking
                    [class.is-invalid]="newPassword.touched && newPassword.invalid"
                    [error-msg]="newPassword.getError('required')
                    || newPassword.getError('invalidPattern')
                    || newPassword.getError('equal')"
                    (blur)="checkFieldValueValidity('New Password', newPassword)">
    </mdl-textfield>
  </p><br/>

  <!-- CONFIRM PASSWORD -->
  <p>
    <mdl-textfield 	type="password"
                    label="Confirm Password"
                    formControlName="confirmPassword"
                    floating-label
                    disableNativeValidityChecking
                    [class.is-invalid]="confirmPassword.touched && confirmPassword.invalid"
                    [error-msg]="confirmPassword.getError('required')
                    || confirmPassword.getError('invalidPattern')
                    || confirmPassword.getError('notEqual')"
                    (blur)="checkFieldValueValidity('Confirm Password', confirmPassword)">
    </mdl-textfield>
  </p><br/>

  <!-- CHANGE PASSWORD BUTTON -->
  <div class="mdl-typography--text-center">
    <button class="text-light-red"
            mdl-button
            mdl-ripple
            [disabled]="!form.valid"
            (click)="validatePasswordIdenticality(newPassword.value, confirmPassword.value)">CHANGE PASSWORD</button>
  </div><br/><!--END .mdl-typography--text-center -->

  <!-- SUCCESS MESSAGE -->
  <p  *ngIf="isSuccessful"
      class="mdl-typography--text-center"
      id="success-message">
    <mdl-icon>done</mdl-icon> Successfully Changed Password
  </p>

</form>

