
@media screen and (max-width: 839px) {
  #container { margin-left: auto !important; }
}

#container {
  background-color: white;
  margin-top: -170px;
  height: 500px;
  border-radius: 5px;
  padding: 30px 50px;
  box-shadow: 1px 1px 5px #0000002e;
  position: relative;
}

hr {
  margin-top: 0;
  margin-bottom: 20px;
}


/* Main Menu */
#main-menu > li {
  display: inline-block;
  padding: 0 30px;
  cursor: pointer;
  font-size: 14px;
  padding-bottom: 5px;
}

#main-menu li.active {
  font-weight: bold;
  color: #ff5252;
  border-bottom: 2px solid;
}

#main-menu > li:first-child { padding-left: 0; }
