
/* Task List */
.task .mdl-checkbox span { font-size: 14px; }

.task {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.task .material-icons { display: none; }

.task:hover, .task .align-middle { cursor: text; }

.task:hover .material-icons {
  display: inline;
  font-size: 18px;
  position: absolute;
  left: -30px;
  top: 5px;
}

/* Add Task */
#add-task {
  margin-top: 10px;
}

#add-task .material-icons { font-size: 20px; }
