
/* Task List */
.task .mdl-checkbox span { font-size: 14px; }

.task {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.task > .material-icons { display: none; }

.task:hover { cursor: pointer; }

.task:hover > .material-icons {
  display: inline;
  font-size: 18px;
  position: absolute;
  left: -30px;
  top: 5px;
}


/* Actions */
.actions {
  position: relative;
  top: 1px;
}

.actions > span {
  font-size: 10px;
  font-weight: bold;
  color: gray;
  position: relative;
  top: -2px;
  right: 10px;
}

.actions button { margin-top: -5px; }

button.mdl-button:hover > .material-icons { color: white; }


/* Schedule Menu */
.schedule-menu li {
  display: inline-block;
  padding: 3px 5px;
}

.schedule-menu li:first-child { padding-left: 10px; }

.schedule-menu li .material-icons {
  font-size: 20px;
  color: #444242c2;
}

.schedule-menu li .material-icons:hover { color: #ff5252; }

.schedule-menu { margin-top: 5px; }


/* Project Menu */
.project-menu li:not(.search):hover { background-color: whitesmoke; }

.project-menu li:first-child { padding-bottom: 7px; }

.project-menu .material-icons, .project-menu span { font-size: 10px; }

.project-menu li, .project-menu p { padding-left: 10px; }

.project-menu p > .material-icons { font-size: 12px; }

.project-menu input {
  border-bottom: 1px solid #80808085;
  padding-bottom: 4px;
}

.project-menu input:focus { outline: none; }


/* Add Task */
#add-task {
  margin-top: 10px;
}

#add-task .material-icons { font-size: 20px; }


/* Temporary Color Selections */
.red { color: red; }

.green { color: green; }

.darkblue { color: #1a237e; }

.orange { color: orange; }

.blue { color: blue; }

.violet { color: violet; }
