<ul [dragula]='"bag-tasks"'
    [dragulaModel]='tasks'>

  <li *ngFor="let task of tasks"
      class="task">
    <div *ngIf="!isEditMode[task.id]">

      <span id="drag-handle"
            *ngIf="status != 'completed'">
        <mdl-icon class="text-gray align-middle">drag_handle</mdl-icon>
      </span>

      <mdl-checkbox *ngIf="status != 'completed'"
                    class="inline-block"
                    [mdl-ripple]="true"
                    (click)="completeTask(task.id)"></mdl-checkbox>

      <span class="align-middle"
            [ngClass]="{'task-completed': status === 'completed'}"
            (click)="edit(task.id)">{{ task.description }}</span>

      <!-- TASK MENU -->
      <tms-task-menu *ngIf="status != 'completed'"
                     [task]="task"
                     [tasks]="tasks"
                     (newTaskList)="onNewTaskList($event)"></tms-task-menu>
    </div><!-- END ngIf="!isEditMode[task.id]" -->

    <!-- EDIT TASK FORM -->
    <tms-task-form  *ngIf="isEditMode[task.id]"
                    [task]="task.description"
                    [errorMessage]="errorMessage"
                    (save)="updateTask(task.id, $event.description)"
                    (cancel)="isEditMode[task.id] = false"></tms-task-form>
  </li>

  <!-- ADD TASK FORM -->
  <li *ngIf="isNewTask">
    <tms-task-form  [errorMessage]="errorMessage"
                    (save)="addTask($event.description)"
                    (cancel)="isNewTask = false"></tms-task-form>
  </li>

  <!-- ADD NEW TASK -->
  <li *ngIf="!isNewTask && status === 'open'">
    <div id="add-task"
      class="text-red-pink cursor-pointer">
      <span (click)="newTask()">
        <mdl-icon class="align-middle">add</mdl-icon>
        <span class="align-middle">Add Task</span>
      </span>
    </div><!-- END #add-task -->
  </li>

</ul>

