
/* Task List */
.task .mdl-checkbox span { font-size: 14px; }

.task {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.task-completed {
  text-decoration: line-through;
  color: gray;
}

#drag-handle > .material-icons {
  color: white;
  font-size: 18px;
  position: absolute;
  left: -30px;
  top: 5px;
 }

#drag-handle:hover .material-icons,
.task:hover .material-icons {
  color: gray !important;
  cursor: pointer;
}

.task:hover, .task .align-middle { cursor: text; }

/* Add Task */
#add-task {
  margin-top: 10px;
}

#add-task .material-icons { font-size: 20px; }
