<div class="actions inline-block right cursor-pointer">

  <button mdl-button
          #actionBtn="mdlButton"
          (click)="menu.toggle($event, actionBtn)"
          mdl-button-type="icon"
          mdl-ripple>
    <mdl-icon class="text-gray">more_horiz</mdl-icon>
  </button>

  <!-- CALENDAR SCHEDULE MENU -->
  <mdl-menu #menu="mdlMenu"
            mdl-menu-position="bottom-right"
            (click)="$event.stopPropagation()">

    <span class="title">Schedule</span>

    <ul class="schedule-menu">
      <li [class.active]="schedule === scheduleType.Today">
        <mdl-icon [mdl-tooltip]="today"
                  (click)="rescheduleTask(0)">insert_invitation</mdl-icon>
        <mdl-tooltip #today="mdlTooltip">Today</mdl-tooltip>
      </li>

      <li [class.active]="schedule === scheduleType.Tomorrow">
        <mdl-icon [mdl-tooltip]="tomorrow"
                  (click)="rescheduleTask(1)">update</mdl-icon>
        <mdl-tooltip #tomorrow="mdlTooltip">Tomorrow</mdl-tooltip>
      </li>

      <li [class.active]="schedule === scheduleType.NextWeek">
        <mdl-icon [mdl-tooltip]="nextWeek"
                  (click)="rescheduleTask(2)">event_note</mdl-icon>
        <mdl-tooltip #nextWeek="mdlTooltip">Next Week</mdl-tooltip>
      </li>
    </ul>

    <!-- PROJECT SELECTION LIST -->
    <span class="title">Projects</span>

    <ul class="project-menu">
      <li class="search">
        <input type="text" placeholder="Search"/>
      </li>

      <li class="cursor-pointer">
        <mdl-icon class="red">fiber_manual_record</mdl-icon>
        <span>Personal</span>
      </li>

      <li class="cursor-pointer">
        <mdl-icon class="green">fiber_manual_record</mdl-icon>
        <span>Work</span>
      </li>

      <p class="text-gray">
        <mdl-icon class="align-middle">add</mdl-icon>
        <span>See More</span>
      </p>
    </ul>

  </mdl-menu>

</div><!-- END .actions -->
