
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100%;
  background-color: #6d82f90a;
}

/* Pointer */
.cursor-pointer { cursor: pointer; }

/* Float & Clear */
.clear { clear:both; }

.right { float: right; }

.left { float: left; }

/* Margins & Paddings */
.clear-padding { padding: 0; }

.clear-margin { margin: 0; }

.center { margin: 0 auto; }

/* Alignment */
.align-middle { vertical-align: middle; }

.inline-block { display: inline-block; }

.block { display: block; }

/* Headings */
h1, h2, h3, h4, h5, h6 { margin: 0; }

h1 { font-size: 2.2em; }

h2 { font-size: 2.0em; }

h3 { font-size: 1.8em; }

h4 { font-size: 1.6em; }

h5 { font-size: 1.4em; }

p { font-size: 1.2em; }

/* Color Palette */
.text-white { color: white; }

.text-gray { color: gray; }

.text-red { color: red; }

.text-dark-blue { color: #2d3545; }

.text-light-red { color: #d8615d; }

.text-light-gray { color: #f7f6f6e6; }

.text-red-pink { color: #ff5252; }

/* Table */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  text-align: left;
  font-weight: normal;
}

/* Forms */
form p { margin-bottom: 0; }

/* Container */
.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -8px;
}

.wrapper > div {
  height: 850px;
  max-height: 100%;
  background-color: white;
}

/* Mdl */
@media screen and (max-width: 1024px) {
  .mdl-layout__drawer-button > .material-icons { color: white; }
}

.mdl-checkbox { width: auto; }

.mdl-checkbox__label { top: -1px; }

.mdl-checkbox__box-outline {
  border-radius: 18px;
  width: 18px;
  height: 18px;
}

.mdl-menu__container span.title {
  margin-left: 10px;
  font-size: 10px !important;
  color: gray;
}

.mdl-menu__outline { width: 170px !important; }

.mdl-menu__container, .mdl-menu { width: 170px !important; }
