@media screen and (max-width: 839px) {
  #login { margin-bottom: 35px; }

  #forgot-password {
    text-align: center;
    right: 0 !important;
    left: 0;
  }
}

#forgot-password {
  position: absolute;
  bottom: 20px;
  right: 35px;
}

#forgot-password p { font-size: 12px; }

#error-message {
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

