<div id="logo"
     class="mdl-cell mdl-cell--12-col text-white">

  <div class="mdl-typography--text-center">
    <mdl-icon class="text-white">assignment_turned_in</mdl-icon>
  </div><!-- END .mdl-typography--text-center -->

  <div id="title"
       class="mdl-typography--text-center">
    <h1>Task Board</h1>
    <p class="text-light-text-gray">Manage and Organize your tasks</p>
  </div><!-- END #title -->

  <!-- Features -->
  <div id="features">
    <p>
      <mdl-icon class="align-middle">done</mdl-icon>
      <span>Keep your tasks on track</span>
    </p>

    <p>
      <mdl-icon class="align-middle">done</mdl-icon>
      <span>Set task schedules and deadlines</span>
    </p>

    <p>
      <mdl-icon class="align-middle">done</mdl-icon>
      <span>Add Task Reminder</span>
    </p>

    <p>
      <mdl-icon class="align-middle">done</mdl-icon>
      <span>Categorize your tasks</span>
    </p>
  </div><!-- END #features -->
</div><!-- END #logo -->
