
<nav class="mdl-navigation">
  <p class="text-dark-blue">
    <small>TASKS</small>
  </p>

  <ul id="tasks">
    <li>
      <a href="#"
         class="mdl-navigation__link">
        <mdl-icon>insert_invitation</mdl-icon> Today
      </a>
    </li>

    <li>
      <a href="#"
         class="mdl-navigation__link">
        <mdl-icon>update</mdl-icon> Tomorrow
      </a>
    </li>

    <li>
      <a href="#"
         class="mdl-navigation__link">
        <mdl-icon>event_note</mdl-icon> Next Week
      </a>
    </li>
  </ul>

  <p class="text-dark-blue">
    <small>PROJECTS</small>
  </p>

  <ul id="projects">
    <li>
      <a href="#"
         class="mdl-navigation__link">
        <mdl-icon class="red">fiber_manual_record</mdl-icon> Personal
      </a>
    </li>

    <li>
      <a href="#"
         class="mdl-navigation__link">
        <mdl-icon class="green">fiber_manual_record</mdl-icon> Work
      </a>
    </li>

    <li>
      <a href="#"
         class="mdl-navigation__link">
        <mdl-icon class="darkblue">fiber_manual_record</mdl-icon> Grocery
      </a>
    </li>

    <li>
      <a href="#"
         class="mdl-navigation__link">
        <mdl-icon class="orange">fiber_manual_record</mdl-icon> Shopping
      </a>
    </li>

    <li>
      <a href="#"
         class="mdl-navigation__link">
        <mdl-icon class="blue">fiber_manual_record</mdl-icon> Bills Payment
      </a>
    </li>

    <li>
      <a href="#"
         class="mdl-navigation__link">
        <mdl-icon class="violet">fiber_manual_record</mdl-icon> Workout
      </a>
    </li>

    <li>
      <a href="#"
         class="mdl-navigation__link">
        <mdl-icon class="text-red">add</mdl-icon>
        <span class="align-middle text-red">Add Project</span>
      </a>
    </li>

  </ul>
</nav>
