
<nav class="mdl-navigation">
  <p class="text-dark-blue">
    <small>TASKS</small>
  </p>

  <ul id="tasks">
    <li class="cursor-pointer"
        [routerLink]="['/dashboard/task/', taskSchedule.Today]"
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }">
      <a class="mdl-navigation__link">
        <mdl-icon>insert_invitation</mdl-icon> Today
      </a>
    </li>

    <li class="cursor-pointer"
        [routerLink]="['/dashboard/task/', taskSchedule.Tomorrow]"
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }">
      <a class="mdl-navigation__link">
        <mdl-icon>update</mdl-icon> Tomorrow
      </a>
    </li>

    <li class="cursor-pointer"
        [routerLink]="['/dashboard/task/', taskSchedule.NextWeek]"
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }">
      <a class="mdl-navigation__link">
        <mdl-icon>event_note</mdl-icon> Next Week
      </a>
    </li>
  </ul>

  <tms-project></tms-project>
</nav>
