

.mdl-navigation { padding-top: 0; }

p {
  margin-left: 15px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: bold;
}

li > a { color: #2d3545 !important; }

ul#tasks a { padding: 8px 25px !important; }

#projects a {
  padding: 5px 25px !important;
  display: inline-block;
}

li > span {
  vertical-align: middle;
  position: relative;
  top: 8px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

li:hover > span { display: block !important; }

li > span > .material-icons:hover { color: #d8605c; }

li > span > .material-icons:first-child { margin-right: 5px; }

ul#tasks > li:last-child { margin-bottom: 12px; }

li:hover:not(#new-task) {
  background-color: #dcdde26e !important;
  cursor: pointer;
}

li:hover > a { font-weight: bold !important; }

.material-icons {
  font-size: 15px;
  padding-right: 3px;
  position: relative;
  top: -1px;
}

/* Temporary Color Selections */
.red { color: red; }

.green { color: green; }

.darkblue { color: #1a237e; }

.orange { color: orange; }

.blue { color: blue; }

.violet { color: violet; }

/* Textfield */
.mdl-textfield, #buttons, #buttons > span { margin-left: 15px; }

.mdl-textfield { width: 87%; }

.mdl-textfield + span {
  font-size: 11px;
  font-style: italic;
  position: relative;
  top: -20px;
  left: 15px;
}

#buttons {
  margin-top: -10px;
  margin-bottom: 20px;
}

#buttons .material-icons {
  vertical-align: middle;
  position: relative;
  top: -1px;
}

#buttons > span { font-size: 11px; }

#buttons > span:hover {
  font-weight: bold;
}

button {
  background-color: #d8605c;
  color: white;
  padding: 0;
  font-size: 11px;
  height: 26px;
}

button > span {
  position: relative;
  top: -5px;
  font-size: 10px;
}

