
<div id="header"
     class="mdl-typography--text-center">

  <div id="project-status">
    <div class="inline-block">
      <h1>17</h1>
      <p>March 2018</p>
    </div>

    <div class="inline-block">
      <span class="block">th</span>
      <span class="block">Thursday</span>
    </div>
  </div>

</div>

<div id="container"
     class="mdl-cell mdl-cell--8-col mdl-cell--2-offset">

  <ul id="main-menu">
    <li class="active">Open</li>
    <li>Completed</li>
    <li>Overdue</li>
  </ul>

  <hr/>

  <ul id="task-list">
    <li>
      <mdl-checkbox [mdl-ripple]="true">
        <span class="align-middle">Do Laundry</span>
      </mdl-checkbox>
    </li>
  </ul>
</div>
