
<div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset wrapper">
  <div class="mdl-cell mdl-cell--12-col">

    <div class="mdl-cell mdl-cell--12-col task-info">

      <div class="header">
        <h1 class="mdl-typography--text-center">Today</h1><br/>


      </div>

      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
          <span class="text-dark-blue">Open</span>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
          <span class="text-dark-blue">Completed</span>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
          <span class="text-dark-blue">Overdue</span>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
      <span>Container</span>
    </div>
  </div>
</div>
