<p class="text-dark-blue">
  <small>PROJECTS</small>
</p>

<ul id="projects"
    [dragula]='"bag-projects"'
    [dragulaModel]='projects'>
  <li *ngFor="let project of projects"
      [ngClass]="{'transparent-hover': isEditProject[project.id], 'active': isSelected[project.id] }"
      (click)="selectProject(project.id)"
      (mouseenter)="isHovered[project.id] = true"
      (mouseleave)="isHovered[project.id] = false">

    <mdl-icon class="text-gray align-middle drag-icon"
              [ngClass]="{'active': isHovered[project.id] && !isEditProject[project.id] }">drag_handle</mdl-icon>

    <tms-project-action-field *ngIf="isEditProject[project.id]"
                              [projectName]="project.name"
                              [errorMessage]="errorMessage"
                              (save)="editProject(project.id, $event.name)"
                              (cancel)="cancel(project.id)"></tms-project-action-field>

    <div *ngIf="!isEditProject[project.id]">
      <a class="mdl-navigation__link">
        <mdl-icon [ngStyle]="{'color': project.color}">fiber_manual_record</mdl-icon> {{ project.name }}
      </a>

      <span>
          <mdl-icon (click)="isEditProject[project.id] = true">edit</mdl-icon>
          <mdl-icon (click)="deleteProject(project.id, project.name)">delete_outline</mdl-icon>
        </span>
    </div>
  </li>

  <li id="new-project"
      *ngIf="isNewProject">

  <tms-project-action-field *ngIf="isNewProject"
                            [errorMessage]="errorMessage"
                            (save)="addNewProject($event.name)"
                            (cancel)="cancel()"></tms-project-action-field>

  <li *ngIf="!isNewProject">
    <a class="mdl-navigation__link cursor-pointer"
       (click)="isNewProject = true">
      <mdl-icon class="text-red">add</mdl-icon>
      <span class="align-middle text-red">Add Project</span>
    </a>
  </li>

</ul>
