<div id="input-wrapper">
  <mdl-textfield  type="text"
                  label="Project Name"
                  id="project-textfield"
                  [(ngModel)]="projectName"
                  (click)="$event.stopPropagation()"></mdl-textfield>

  <span class="text-red">{{ errorMessage }}</span>

  <div id="buttons">
    <button mdl-button
            class="cursor-pointer"
            (click)="save.emit({name: projectName})">
      <span>
        SAVE
      </span>
    </button>

    <span class="cursor-pointer"
          (click)="cancel.emit()">

      Cancel
    </span>
  </div>
</div>
